<template>
    <div>
        <button @click="back"><img src="../assets/Icon/arrow-back.png" alt="arrow-back" class="btn-arrow"></button>
        <h1>Details</h1>
        <div class="flex">

            <main class="center">
                <h2 class="title">{{params.title}}</h2>
                <p><span>Overview: </span>{{ params.overview }}</p>
                <p><span>Popularity: </span> {{ params.popularity }}</p>
                <p><span>Vote average: </span> {{ params.vote_average }}</p>
                <p><span>Release date: </span> {{ params.release_date }}</p>

                <button @click="favoritar" class="favoritar-btn">
                    <img src="../assets/Icon/star.png" alt="btn-information" class="star-img">
                </button>
            </main>

        </div>
    </div>
</template>

<script>
export default {
    data: () =>({
            params: '',
            favoriteMovies: ''
        }),
    props:{
        id: Number,
        title: String,
        overview: String,
        popularity: Number,
        vote_average: Number,
        release_date: String,
        poster: String,
    },
    created(){
            this.params = this.$route.params;
        },
    methods: {
        back(){
            this.$router.push('/')
        },
        favoritar(){
            this.favoriteMovies = localStorage.getItem('movie')

            if(!this.favoriteMovies) this.favoriteMovies = []
            else this.favoriteMovies = JSON.parse(this.favoriteMovies)

            const movieString = ({
                id: this.params.id,
                title: this.params.title,
                poster: this.params.poster
            })
            
            for(let movie of this.favoriteMovies){
                if(movie.id == movieString.id)
                return alert('Você já favoritou esse filme!')
            }
            this.favoriteMovies.push(movieString)
            localStorage.setItem('movie', JSON.stringify(this.favoriteMovies))

            this.$router.push({
                name: 'favoritos',
                params: {movie: this.id, title: this.title, poster: this.poster},
            })
        }
    },
}
</script>

<style>
.flex {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: left;
}

/* buttons */
.btn-arrow {
    position: absolute;
    margin: 35px;
    width: 50px;
}

.favoritar-btn {
    position: absolute;
    min-width: 8%;
    min-height: 3vh;
    bottom: 10px;
    right: 15px;
    border: 1px solid yellow;
    border-radius: 50px;
    transition: 0.3s;
}

.favoritar-btn:hover {
    background-color: yellow;
}
/* */

/* typography */
h1 {
    text-align: center;
    margin-top: 30px;
}

h2{
    text-align: center;
    margin-top: 30px;
}

p{
    text-align: left;
    font-size: 1vw;
    margin-top: 15px;
}

span, .title, h2{
    color: red;
}
/* */

.center {
    position: absolute;
    max-width: 40%;
    min-height: 70vh;
    border-radius: 13px;
    background-color: #131313;
}

/* imagens */
.star-img{
    position: relative;
    min-width: 2%;
    max-height: 3vh;
    bottom: 5px;
    top: 3px;
}
/* */

/* medias querys para adaptar o conteúdo a várias resoluções de tela */
@media(min-width: 320px) and (max-width: 375px){
    .center{
        max-width: 60%;
        min-height: 30vh;
    }
}

@media(min-width: 400px) and (max-width: 700px){
    .center{
        max-width: 60%;
        min-height: 30vh;
    }
}

@media(min-width: 700px) and (max-width: 1180px){
    .center{
        max-width: 40%;
        min-height: 25vh;
    }
}

@media(min-width: 1200px){
    .center{
        max-width: 40%;
        min-height: 45vh;
    }
}

@media(min-width: 1366px){
    .center{
        max-width: 40%;
        min-height: 35vh;
    }
}

@media(min-width: 2000px){
    .center{
        max-width: 40%;
        min-height: 50vh;
    }
}
/* */
</style>