<template>
  <div>
    <header class="header-favoritos">
      <button @click="home">
        <img src="../assets/Icon/casa.png" alt="home-back" class="btn-home" />
      </button>
      <h1 class="h1">Meus favoritos</h1>
      <button @click="deleteAll" class="btn-limpar">Limpar lista</button>
    </header>

    <main class="main">
      <div
        v-for="(movie, index) in favoriteMovies"
        :key="index"
        class="cardFilme"
      >
        <img
          :src="'http://image.tmdb.org/t/p/w92/' + movie.poster"
          alt="poster"
          class="poster-filme"
        />
        <br />
        <p class="paragrafo">{{ movie.title }}</p>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data: () => ({
    local: "",
    params: "",
    movie: [],
    favoriteMovies: [{}],
  }),
  methods: {
    home() {
      this.$router.push("/");
    },
    renderFavorites() {
      this.favoriteMovies = localStorage.getItem("movie");
      if (this.favoriteMovies)
        this.favoriteMovies = JSON.parse(this.favoriteMovies);
      else this.favoriteMovies = [];
    },
    deleteAll() {
      this.favoriteMovies = localStorage.removeItem("movie");
    },
  },
  created() {
    this.renderFavorites();
  },
};
</script>

<style>
.header-favoritos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* buttons */
.btn-home {
  position: absolute;
  width: 40px;
}

.btn-limpar {
  height: 25px;
  color: white;
  background-color: red;
  width: 130px;
  margin-top: 25px;
  border-radius: 5px;
}
.btn-limpar:hover {
  background-color: transparent;
  border: 2px solid red;
}
/* */

/* typography */
.h1 {
  color: yellow;
}

.paragrafo {
  text-align: center;
  font-size: 15px;
  color: rgb(26, 26, 26);
}
/* */

.main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 13px;
  background-color: black;
}

.cardFilme {
  width: 200px;
  height: 320px;
  background-color: #fff;
  border-radius: 8px;
  margin: 3px;
}

.poster-filme {
  width: 150px;
  border-radius: 8px;
  margin-left: 25px;
  margin-top: 25px;
}

/* medias querys para adaptar o conteúdo a várias resoluções de tela */
@media (min-width: 200px) and (max-width: 320px) {
  .h1 {
    font-size: 15px;
    margin-left: 45px;
  }
  .btn-limpar {
    font-size: 8px;
    width: 50px;
    height: 15px;
  }
  .btn-home {
    width: 15px;
    margin-top: 5px;
  }
  .poster-filme {
    width: 60px;
  }
  .size {
    width: 3px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .poster-filme {
    width: 80px;
    border-radius: 8px;
    margin: 5px;
    margin-top: 25px;
  }
  .size {
    width: 15px;
    margin-left: 5px;
  }
  .h1 {
    position: absolute;
    font-size: 20px;
    margin-left: 15px;
  }
  .btn-limpar {
    height: 20px;
    color: white;
    background-color: red;
    width: 60px;
    font-size: 8px;
    margin-left: 255px;
    margin-top: 30px;
    border-radius: 5px;
  }
  .btn-home {
    position: absolute;
    width: 20px;
    margin-top: 5px;
    margin-left: 15px;
  }
}

@media (min-width: 540px) {
  .h1 {
    margin-left: 120px;
  }
  .btn-home {
    width: 30px;
    margin-left: 15px;
  }
  .btn-limpar {
    font-size: 12px;
    width: 80px;
    margin-top: 35px;
  }
}

@media (min-width: 700px) {
  .h1 {
    margin-left: 130px;
  }
}
/* */
</style>