<template>
  <v-app>
    <header class="header">
      <button @click="favoritos" class="btn-favoritar">
        <img src="../assets/Icon/star.png" alt="favoritos" class="star" />
      </button>
      <input
        type="text"
        placeholder="Search by name..."
        class="input-pesquisa"
        v-model="busca"
      />
    </header>

    <!-- eslint-disable -->
    <main>
      <div class="container">
        <div v-for="(movie, index) in resultadoBusca" :key="index" class="card">
          <Movie
            :id="movie.id"
            :title="movie.title"
            :overview="movie.overview"
            :popularity="movie.popularity"
            :vote_average="movie.vote_average"
            :release_date="movie.release_date"
            :poster="base_url + poster_sizes + movie.poster"
          />
        </div>
      </div>
    </main>
    <!-- eslint-disable -->
  </v-app>
</template>

<script>
import axios from "axios";
import Movie from "./Movie.vue";
import Details from "./Details.vue";

export default {
  components: {
    Movie,
    Details,
  },
  data: () => ({
    baseURL: "https://api.themoviedb.org/3",
    API_KEY: "154a78d451c862139e1df73bc2bb562f",
    base_url: "http://image.tmdb.org/t/p/",
    poster_sizes: "w342",
    busca: "",
    movies: [],
  }),
  methods: {
    favoritos() {
      this.$router.push("/favoritos");
    },
    showDetails() {
      this.$router.push({
        name: "details",
        params: {
          id: this.id,
          title: this.title,
          overview: this.overview,
          popularity: this.popularity,
          vote_average: this.vote_average,
          release_date: this.release_date,
          poster: this.poster,
        },
      });
    },
  },
  computed: {
    resultadoBusca() {
      if (this.busca.trim() == "") return this.movies;
      else
        return this.movies.filter((movie) => {
          return movie.title
            .toString()
            .trim()
            .toLowerCase()
            .includes(this.busca.trim().toLowerCase());
        });
    },
  },
  created() {
    /*requisição para buscar os filmes */
    /* 20 resultados de filmes por página é o default da API */
    let i;
    axios
      .get(
        `${this.baseURL}/discover/movie?api_key=${this.API_KEY}&language=en-US&sort_by=popularity.desc&include_adult=true&include_video=false&page=1`
      )
      .then((response) => {
        const resAPI = response.data.results;
        for (i = 0; i < resAPI.length; i++) {
          let movie = {
            id: resAPI[i].id,
            title: resAPI[i].title,
            poster: resAPI[i].poster_path,
            overview: resAPI[i].overview,
            popularity: resAPI[i].popularity,
            release_date: resAPI[i].release_date,
            vote_average: resAPI[i].vote_average,
          };
          this.movies.push(movie);
        }
      })
      .catch((error) => {
        console.log(error);
      });

    /* requisição para buscar informações das imagens. */
    axios
      .get(`${this.baseURL}/configuration?api_key=${this.API_KEY}`)
      .then((response) => {
        const resAPI = response.data.images;
        console.log(resAPI.base_url);
        console.log(resAPI.poster_sizes[3]);
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<style lang="scss">
$gray-color: #141414;
$bg-color: #0a0a0a;

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin input() {
  position: absolute;
  bottom: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
}

/* imagens */
.star {
  position: relative;
  margin-top: 15px;
  height: 58%;
  width: 47%;
}
/* */

/* inputs */
.input-pesquisa {
  @include input;
  position: absolute;
  min-width: 28%;
  height: 13%;
  background: #f8f8f8de url("../assets/Icon/search.png") right no-repeat;
}

input:focus::placeholder {
  color: $gray-color;
}
/* */

main {
  background-color: $bg-color;
}

/* container */
.container {
  @include flex;
  width: 100%;
  flex-direction: row;
  margin-top: 50px;
  background-color: $bg-color;
}
/* */

/* button */
.btn-favoritar {
  position: absolute;
  width: 2%;
  height: 12%;
  left: 35px;
  border: 1px solid yellow;
  border-radius: 50px;
  bottom: 0px;
  transition: 0.3s;
}

.btn-favoritar:hover {
  background-color: yellow;
}
/* */

.header {
  background: url("../assets/banner-movie.png") center no-repeat;
  background-size: 100% 100vh;
}

/* medias querys para adaptar o conteúdo a várias resoluções de tela */
@media (min-width: 320px) {
  .header {
    @include flex;
    position: relative;
    max-width: 100%;
    min-height: 80px;
    background-size: 100% 25vh;

    .input-pesquisa {
      position: absolute;
      width: 14px;
      bottom: 10px;
    }
    .star {
      margin-bottom: 150px;
      margin-top: 3px;
    }
  }
}

@media (min-width: 200px) and (max-width: 310px) {
  .header {
    background-size: 100% 8vh;
  }
}

@media (min-width: 320px) {
  .header {
    background-size: 100% 14vh;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .header {
    @include flex;
    position: relative;
    min-height: 130px;
    background-size: 100% 25vh;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .header {
    @include flex;
    position: relative;
    min-height: 130px;
    background-size: 100% 40vh;
  }
}

@media (min-width: 1100px) {
  .header {
    @include flex;
    position: relative;
    min-height: 130px;
    background-size: 100% 30vh;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .header {
    @include flex;
    position: relative;
    min-height: 250px;
    background-size: 100% 45vh;
  }
}

@media (min-width: 1300px) and (max-width: 1700px) {
  .header {
    @include flex;
    position: relative;
    min-height: 250px;
    background-size: 100% 37vh;
  }
}

@media (min-width: 1700px) and (max-width: 2200px) {
  .header {
    @include flex;
    position: relative;
    min-height: 250px;
    background-size: 100% 40vh;
  }
}

@media (min-width: 2200px) {
  .header {
    @include flex;
    position: relative;
    min-height: 500px;
    background-size: 100% 40vh;
  }
}

@media (min-width: 2280px) {
  .header {
    @include flex;
    position: relative;
    min-height: 350px;
    background-size: 100% 55vh;
  }
}
</style>
