<template>
  <div class="card">
    <img :src="poster" class="poster" />
    <h3>{{ title }}</h3>
    <button @click="showDetails" class="btn-info">
      <img
        src="../assets/Icon/info.png"
        alt="btn-information"
        class="btn-info"
      />
    </button>
  </div>
</template>

<script>
export default {
  data: () => ({ movies: [{}] }),
  props: {
    id: Number,
    poster: String,
    title: String,
    overview: String,
    popularity: Number,
    vote_average: Number,
    release_date: String,
  },
  methods: {
    showDetails() {
      this.$router.push({
        name: "details",
        params: {
          id: this.id,
          poster: this.poster,
          title: this.title,
          overview: this.overview,
          popularity: this.popularity,
          vote_average: this.vote_average,
          release_date: this.release_date,
        },
      });
    },
  },
};
</script>

<style lang="scss">
h3 {
  color: rgb(24, 24, 24);
}
@mixin card() {
  position: relative;
  background-color: white;
  transition: 0.3s;
  margin-bottom: 15px;
}

.card {
  @include card;
  width: 180px;
  height: 500px;
}

.poster {
  margin-left: 25px;
  margin-top: 5px;
  width: 200px;
  border-radius: 8px;
}

/* buttons */
.btn-info {
  position: absolute;
  cursor: pointer;
  width: 30px;
  border: none;
  bottom: 5px;
  right: 5px;
  color: transparent;
  background-color: transparent !important;
}
/* */

/* medias querys para adaptar o conteúdo a várias resoluções de tela */
@media (min-width: 320px) {
  .card {
    @include card;
    width: 100px;
    height: 280px;
  }
  .poster {
    width: 80px;
    border-radius: 8px;
  }
}

@media (min-width: 600px) {
  .card {
    @include card;
    width: 130px;
    height: 340px;
  }
  .poster {
    width: 120px;
    border-radius: 8px;
  }
}

@media (min-width: 1200px) {
  .card {
    @include card;
    width: 230px;
    height: 400px;
  }
  .poster {
    width: 200px;
    border-radius: 8px;
  }
}

@media (min-width: 2000px) {
  .card {
    @include card;
    width: 300px;
    height: 500px;
    margin: 5px;
  }
  .poster {
    width: 270px;
    border-radius: 8px;
  }
}

h3 {
  text-align: center;
}
/* */
</style>