<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
import Home from "./components/Home.vue";

export default {
  components: {
    Home,
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
h1,
p {
  color: white;
}
html,
body {
  height: 100%;
  background-color: black;
}
</style>